
html{
        box-sizing: border-box;
}
body {
    font-family: sans-serif;
    background-color: hsl(0, 0%, 90%);
}


.website-name {
    clear: both;
    background-color: whitesmoke;
    border:1px solid #ccceee;
}


h1 {
    text-align: center;
    color: #a0a0a0;
}

nav ul {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 1.2;
    margin-bottom: 1%;
    color: #a0a0a0;
    
}

nav ul li{
    float: left;
    margin-left: 10px;
    border-bottom: 1px solid #a0a0a0;;
    
}
main {
    margin: 1% auto;
    padding: 1%;
    background-color: whitesmoke;
    border:1px solid gray;
}

main p::first-letter{
    font-size:150%;
}